In [1]:
import pandas as pd

## EDA

In [2]:
df = pd.read_csv("../data/raw/ml-engineer-challenge-redacted-data.csv")
df.head(30)

                  vin  make       model    year                   body
0   WBA3N3C50EK2XXXXX   BMW    4 Series  2014.0                    NaN
1   WBA4F11020D9XXXXX   BMW    4 Series     NaN                    NaN
2   WBA4F11020D9XXXXX   BMW           4     NaN               liftback
3   WBA3N3C50EK2XXXXX   BMW    4 Series  2014.0                    NaN
4   WAUZZZ8T39A0XXXXX  Audi          A5     NaN                    NaN
5   WAUZZZ8T39A0XXXXX  Audi          A5     NaN                  coupe
6   WBA3N3C50EK2XXXXX   BMW  428I (USA)     NaN                  coupe
7   WBA2C110807AXXXXX   BMW    2 Series     NaN  multi-purpose vehicle
8   WAUZZZ4M4HD0XXXXX  Audi          Q7     NaN                    SUV
9   WBA5J11050D0XXXXX   BMW    5 Series     NaN                 estate
10  WAUZZZ4M4HD0XXXXX  Audi         NaN     NaN                    SUV
11  WBY2Z21040V3XXXXX   BMW          i8  2016.0                    NaN
12  WBAJJ11040EFXXXXX   BMW    X Series     NaN                    SUV
13  WBY2Z21040V3XXXXX   BMW           i     NaN                  coupe
14  WAUZZZ4G0BN0XXXXX  Audi          A7     NaN                    NaN
15  WAUZZZ4G0BN0XXXXX  Audi          A7     NaN                    NaN
16  WAUZZZ4G0BN0XXXXX  Audi          A7     NaN               liftback
17  WBAFW11000DUXXXXX   BMW    5 Series     NaN                    NaN
18  WBA7C21090G8XXXXX   BMW    7 Series     NaN                  sedan
19  WBAFW11000DUXXXXX   BMW    5 Series     NaN                  sedan
20  WAUZZZ8R5FA0XXXXX  Audi          Q5     NaN                    NaN
21  WAUZZZ8R5FA0XXXXX  Audi          Q5     NaN                    NaN
22  WAUZZZ8R5FA0XXXXX  Audi          Q5     NaN                    NaN
23  WBAPP120X0A9XXXXX   BMW    3 Series     NaN                    NaN
24  WAUZZZ8P0CA0XXXXX  Audi          A3     NaN                    NaN
25  WAUZZZ8P0CA0XXXXX  Audi          A3     NaN              hatchback
26  WAUZZZ4L77D0XXXXX  Audi          Q7     NaN                    NaN
27  WAUZZZ8P0CA0XXXXX  Audi          A3     NaN                    NaN
28  WBS41AZ020CJXXXXX   BMW         NaN     NaN                    NaN
29  WAUZZZ8P0CA0XXXXX  Audi          A3     NaN              hatchback

There are duplicates present in the data, most likely due to redacted serial numbers (e.g. `L20-L22`), lets deduplicate it.

In [3]:
df = df.drop_duplicates()
df = df.sort_values(by="vin")
df.head(30)

                    vin  make     model    year   body
1882  3MW5R1J0XM8CXXXXX   BMW  3 Series  2021.0    NaN
2930  4USBT33443LRXXXXX   BMW        Z4  2003.0    NaN
1622  5UXCR4C06M9FXXXXX   BMW        X5  2021.0    NaN
2211  5UXCY6C04P9PXXXXX   BMW       NaN     NaN    NaN
2210  5UXCY6C04P9PXXXXX   BMW        X6  2023.0    SUV
1886  5UXFE43568L0XXXXX   BMW  X Series     NaN    SUV
1885  5UXFE43568L0XXXXX   BMW        X5  2008.0    NaN
1884  5UXFE43568L0XXXXX   BMW        X5  2008.0    SUV
1623  5UXFE4C53AL2XXXXX   BMW        X5  2010.0    NaN
1624  5UXFE83528L1XXXXX   BMW        X5  2008.0    NaN
2670  5UXFG2C5XBLXXXXXX   BMW  X Series     NaN    SUV
2142  5UXFG43578L2XXXXX   BMW  X Series     NaN    SUV
2141  5UXFG43578L2XXXXX   BMW        X6  2008.0    SUV
1968  5UXKR0C51F0KXXXXX   BMW        X5  2015.0    NaN
1900  5UXKS4C35H0UXXXXX   BMW        X5  2017.0    NaN
1748  5UXKT0C58H0SXXXXX   BMW        X5  2017.0    SUV
1749  5UXKT0C58H0SXXXXX   BMW        X5     NaN    SUV
1735  5UXTS3C57K0ZXXXXX   BMW  X Series     NaN    SUV
1733  5UXTS3C57K0ZXXXXX   BMW        X3  2019.0    SUV
2340  5UXTS3C58K0ZXXXXX   BMW        X3  2019.0    NaN
1928  5UXWX5C57BL7XXXXX   BMW        X3  2011.0    NaN
1998  5UXZV4C56D0EXXXXX   BMW        X5  2013.0    NaN
2942  5UXZV8C53D0CXXXXX   BMW        X5  2013.0    NaN
123   5YMJU0C07M9EXXXXX   BMW        X5  2021.0    SUV
2548  5YMKT6C52J0YXXXXX   BMW        X5  2018.0    SUV
319   TRUC5AFV4J10XXXXX  Audi        TT     NaN  coupe
318   TRUC5AFV4J10XXXXX  Audi        TT     NaN    NaN
1877  TRUWT28N1210XXXXX  Audi        TT  2002.0    NaN
2271  TRUZZZ8J3A10XXXXX  Audi        TT     NaN    NaN
1484  TRUZZZ8J5710XXXXX  Audi        TT     NaN    NaN

Upon manual inspection of the entire dataset, I've noticed a few interesting observations:
1. There are conflicting models even for the same VIN (e.g. `vin == "WBA6E41090G3XXXXX"`)
2. There are plenty of `NaN` values in general
3. There are VINs where year and body are known for other serial numbers, thus probably some `NaNs` can be inferred easily (e.g. `vin == "WA1LMAFE8ED0XXXXX"`)

In [4]:
# TODO: There are conflicting models for the same VIN, need to figure out a fix.
df[df["vin"] == "WBA6E41090G3XXXXX"]

                   vin make          model  year body
207  WBA6E41090G3XXXXX  BMW  640dx (640dx)   NaN  NaN
206  WBA6E41090G3XXXXX  BMW       6 Series   NaN  NaN

In [5]:
# TODO: Can easily infer year and body values for some VINs, thus will need to impute some NaNs later on
df[df["vin"] == "WA1LMAFE8ED0XXXXX"]

                   vin  make model    year body
208  WA1LMAFE8ED0XXXXX  Audi    Q7  2014.0  NaN
209  WA1LMAFE8ED0XXXXX  Audi    Q7     NaN  SUV
210  WA1LMAFE8ED0XXXXX  Audi    Q7     NaN  NaN

Fetching unique makes and models

In [6]:
df.groupby("make")["vin"].agg("count").reset_index().rename(columns={"vin": "count"})

   make  count
0  Audi   1004
1   BMW   1271

In [7]:
df.groupby("model")["vin"].agg("count").reset_index().rename(columns={"vin": "count"})

            model  count
0        1 Series    105
1             100      2
2        2 Series     44
3        3 Series    370
4             335      1
5               4     35
6        4 Series     29
7      428I (USA)      1
8        5 Series    310
9            530D      1
10     530D (EUR)      1
11       6 Series     12
12  630dx (630dx)      1
13  640dx (640dx)      2
14       7 Series     47
15       8 Series      4
16             80      1
17             A1     22
18             A3    116
19             A4    245
20             A5     97
21             A6    157
22             A7     10
23             A8     20
24              G      1
25             M5      1
26             Q2      1
27             Q3     56
28             Q5     71
29             Q7     71
30             Q8      3
31              R      8
32             R8      7
33             S5      1
34            SQ5      1
35             TT     20
36       X Series    129
37             X1      9
38             X2      3
39             X3     33
40             X4      1
41             X5     46
42             X6     10
43       Z Series     10
44             Z3      2
45             Z4      5
46        allroad      1
47              i      5
48             i3      6
49             i8      1
50           rs 7      1